

 <diV class="container">
		<div class="row">
			<div class="w-50 mx-auto formtag"> 
				<h2 class="" style="text-align: center">Search categories </h2>
				<form action="/category" method="GET">
					<div class="form-group">
						<label for="name"></label>
						<input class="form-control" id="uname" type="text" name="name" value= "<% if (locals.searchOptions != null){ %><%= searchOptions.name%> <% }%>" placeholder="category name">
					</div>
					
				    <button type="submit" class="btn btn-lg  btn-block" style="background: #e91e63; color:white">Search</button>
				</form>
				<div class="mt-2"><a href="/category/new"><i class="fa fa-arrow-left"></i> Go back</a></div>
				<br>
				<% categories.forEach(category => { %>
				<div class="mb-4 clearfix">
					<span><%=category.name %></span>
					<form id="delete-form"  action="/category/<%= category.id %>?_method=DELETE" method="POST">
						<button class="btn  btn-sm float-right ml-3" style="background: #e91e63; color:white" type="submit">Delete</button>
						<input class="form-control"  type="hidden" name="_csrf" value="<%= csrfToken%>">
				    </form>
				    <span class="float-right" ><a class="btn  btn-sm" style="background: #e91e63; color:white" href="/category/<%= category.id %>/edit"> Edit</a></span>
				</div>
				<%})%>
			</div> 
		</div>
</diV>

