

<div class="jumbotron text-center w-75 container">
  <h2 class="display-5">Here is your Cart!</h2>
  <p class="lead" style="font-size: 0.8rem; color: #e91e63">Please kindly go through your Cart list, and click the checkout button to place your order and make payment.</p>
  <hr class="my-4">
 


	<% if(books){ %>
		<div class="">
			<ul class="list-group">
				<% books.forEach(book => { %>	 		
	                <li class="list-group-item d-flex justify-content-between align-items-center">
	                  <strong>
	                  	<%= book.item.book_title %>
	                  	<span class="badge badge-primary "><span>&#8358</span><%= book.price%></span>
	                  	<div class="dropdown">
						  <button class="btn  dropdown-toggle" style="background:#e91e63; color:white;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
						    Action
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <ul class="list-group">
						    	<li class="list-group-item" ><a class="dropdown-item" href="/shop/reduce/<%= book.item._id%>">Reduce by 1</a></li>
						    	<li class="list-group-item"><a class="dropdown-item" href="/shop/increase/<%= book.item._id%>">increase by 1</a></li>
						    	<li class="list-group-item"><a class="dropdown-item" href="/shop/remove/<%= book.item._id%>">Remove all</a></li>
						    </ul>
						  </div>
					</div>
	                  </strong>
					<span class="badge bg-primary badge-pill" style="color:white"><%= book.qty %></span>
				</li>
				
				<% }) %>
			</ul>
		</div>
	<div class=" mt-2" >
		<div class="">
			<strong>Total: <%= total %></strong>
		</div>
	</div>
	<hr>
	<div class="">
      <a class="btn  btn-lg" style="background:#e91e63; color:white" href="/shop/checkout/" role="button">Checkout</a>
	</div>
		
	<% } else { %>

		<div class="text-center">
			<div class="col-12 col-md-12  ">
				<div> <i class="fa fa-shopping-cart" aria-hidden="true"></i> </div>
				<div class=""><h2>No items in Cart</h2></div>
			</div>
		</div>
	
	<% }%>




</div>